.container{
    margin: auto;
}
/* Button */
.addingInputs{
    width: 4vw;
    margin-top: 1vw;
    margin-left: 4vw;
    flex-wrap: wrap;
    text-align: center;
}

/* Order Input */
.inputO{
    width: 12vw;
    margin: 0.5vw 0.5vw 0 0.5vw;
}

/* Quantity Input */
.inputQ{
    width: 4vw;
}

/* Dinamic Inputs Order*/
.addedInputO{
    width: 12vw;
    margin: 0vw 0.8vw 1vw 0.5vw;
}

/* Dinamic Inputs Quantity */
.addedInputQ{
    width: 4vw;
}